/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
    --color-text-mute: var(--vt-c-text-light-2);

    --accent: #00bd7e;

    --color-green: var(--accent);
    --color-green-dark: #00a86b;
    --color-red: #e85454;
    --color-yellow: #c7aa19;
    --color-blue: #189de4;

    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
}

.print {
    --color-background: white;
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: white;

    --color-border: rgba(0, 0, 0, 0.12);
    --color-border-hover: rgba(0, 0, 0, 0.29);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    background: var(--color-background);
    color: var(--color-text);

    &.a4 {
        --real-height: 297mm;
        --real-width: 210mm;
        --real-margin: 20mm;

        --display-height: 80vh;
        --display-margin: calc(var(--display-height) * (20 / 297));
        --display-margin-min: calc(var(--display-height) * (10 / 297));

        height: var(--display-height);
        width: calc(var(--display-height) * (210 / 297));
        max-width: calc(90vw - 2em);
        max-height: calc((90vw - 2em) * (297 / 210));

        aspect-ratio: 210 / 297;

        padding: var(--display-margin);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

        font-size: 12px;

        @media screen and (max-width: 600px) {
            font-size: 10px;
        }

        @media screen and (max-width: 400px) {
            font-size: 8px;
        }
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    line-height: 1.6;
    font-family: "Outfit", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    margin: 1em 0;
    border: none;
    border-bottom: 1px solid var(--color-border);
}

a,
.green {
    text-decoration: none;
    color: var(--accent);
    transition: 0.4s;
}

a.link-on-hover {
    color: unset;

    &:hover {
        color: var(--accent);
    }
}

.muted {
    color: var(--color-text-mute);
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;

    &.centre {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }
}

.wght-100 {
    font-weight: 100;
}

.wght-200 {
    font-weight: 200;
}

.wght-300 {
    font-weight: 300;
}

.wght-400 {
    font-weight: 400;
}

.wght-500 {
    font-weight: 500;
}

.wght-600 {
    font-weight: 600;
}

.wght-700 {
    font-weight: 700;
}

.wght-800 {
    font-weight: 800;
}

.wght-900 {
    font-weight: 900;
}

.gap-2 {
    gap: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
}

dialog {
    color: var(--color-text);
    gap: 1em;
    background: var(--color-background-soft);
    border: 1px solid var(--color-border);
    border-radius: 1em;
    padding: 1em;
    outline: none;

    inset: 0;
    margin: auto;
    position: fixed;

    &::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }

    .content {
        .preview-container {
            position: relative;
            height: 25vh;
            width: 100%;
            margin-bottom: 1em;
        }

        .preview.scale-sm {
            position: absolute;
            margin: auto;
            overflow: auto;
            justify-self: center;
            align-self: center;
            max-height: 50vh;
            scale: 0.5;
            transform-origin: top;
        }

        .row {
            display: grid;
            grid-template-columns: 1fr max-content;
            align-items: center;
            gap: 1em;
        }
    }
}

progress {
    width: 100%;
    height: 1rem;
    border: none;
    border-radius: 0.5rem;
    appearance: none;

    &::-webkit-progress-bar {
        border-radius: 0.5rem;
        background-color: var(--color-background);
    }

    &::-webkit-progress-value {
        border-radius: 0.5rem;
        background-color: var(--accent);
    }
}
