.void {
    position: fixed;
    top: 0;
    left: 1000vw;
    z-index: -1;
}

@font-face {
    font-family: "Material Symbols Rounded";
    font-style: normal;
    src: url("https://fonts.gstatic.com/s/materialsymbolsrounded/v114/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2")
        format("woff2");
}

body {
    position: relative;
    z-index: 1;
    display: block;
}

.parent {
    width: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    .song {
        width: 100%;
    }

    .capitalise {
        text-transform: capitalize;
    }

    .instruments {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;

        .instrument {
            border: 1px solid var(--color-border);
            border-radius: 0.5em;
            padding: 0.5em;

            & h3 {
                font-weight: 900;
            }

            .muted {
                font-style: italic;
                text-transform: uppercase;
                font-size: 0.7rem;
                letter-spacing: 0.1em;
            }

            .flex {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-transform: uppercase;

                &.space-between {
                    justify-content: space-between;
                }

                &.gap-2 {
                    gap: 0.5em;
                }
            }
        }
    }

    & h1 {
        font-size: 1.5rem;
    }

    & h2 {
        font-size: 0.8rem;
        text-transform: uppercase;
    }

    .material-symbols-rounded {
        font-size: 1em;
    }

    .wrap-to-line {
        display: flex;
        flex-direction: row;
        align-items: center;

        .info {
            display: flex;
            align-items: center;
            gap: 0.5em;

            &:not(:last-child) {
                margin-right: 1em;
                padding-right: 1em;

                &:after {
                    content: " ";
                    width: 1px;
                    height: 100%;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    background: var(--color-border);
                }
            }

            &.option {
                &.active {
                    color: var(--color-primary);
                }
            }
        }
    }

    & hr {
        border: none;
        border-top: 1px solid var(--color-border);
        margin: 1em 0;
    }

    .section {
        &:not(:last-child) {
            margin-bottom: 1em;
        }

        & span {
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: bold;
        }
    }

    .progression {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-gap: 1em;
        align-items: center;
        grid-template-rows: auto;
    }

    .progression > div {
        display: flex;
        justify-content: center;
        border: 1px solid var(--color-border);
        border-radius: 0.5em;
    }

    .progression .w-1 {
        grid-column: span 1;
    }

    .progression .w-2 {
        grid-column: span 2;
    }

    .progression .w-3 {
        grid-column: span 3;
    }

    .progression .w-4 {
        grid-column: span 4;
    }

    .progression .w-5 {
        grid-column: span 5;
    }

    .progression .w-6 {
        grid-column: span 6;
    }

    .progression .w-8 {
        grid-column: span 8;
    }

    .progression .w-10 {
        grid-column: span 10;
    }

    .progression .w-12 {
        grid-column: span 12;
    }

    .progression .w-14 {
        grid-column: span 14;
    }

    .progression .w-16 {
        grid-column: span 16;
    }

    .progression .selected {
        font-weight: 900;
        color: var(--accent);
        border-color: var(--accent);
    }
}
